{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.plainPassword) }}
        {{ form_row(resetPasswordForm.token) }}
        {{ form_row(resetPasswordForm.send) }}
        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}
