<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/assets/logo.png">
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('bootstrap') }}
    {% endblock %}
</head>

<body>
{% include 'base/header.html.twig' %}
{% for message in app.flashes ('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<section>
    {% block body %}{% endblock %}
</section>

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    {{ encore_entry_script_tags('app') }}{% endblock %}

{% include 'base/footer.html.twig' %}
</body>
</html>
