<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/assets/logo.png">
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('bootstrap') }}
    {% endblock %}
</head>

<body>
{% include 'base/header.html.twig' %}
{% set appFlashes = app.flashes %}
<div class="hide-it text-center {{ appFlashes|length > 0 ? 'flash-message-block' : '' }}">
    {% if appFlashes.success is defined %}
        {% for message in appFlashes.success %}
            <div class="alert alert-success my-0 flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% elseif appFlashes.danger is defined %}
        {% for message in appFlashes.danger %}
            <div class="alert alert-danger my-0 flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% elseif appFlashes.warning is defined %}
        {% for message in appFlashes.warning %}
            <div class="alert alert-warning my-0 flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% elseif appFlashes.notice is defined %}
        {% for message in appFlashes.notice %}
            <div class="alert alert-info my-0 flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<section>
    {% block body %}{% endblock %}
</section>

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    {{ encore_entry_script_tags('app') }}{% endblock %}

{% include 'base/footer.html.twig' %}
</body>
</html>
