{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <div class="card card-image"
         style="background-image: url({{ asset('/images/tricks/' ~ trick.mainPicture) | imagine_filter('my_main') }})">
        <div class="d-flex ml-auto col-1">
            {% if is_granted('ROLE_ADMIN') %}
                {% if trick.mainPicture == 'default.jpg' %}
                    <a class="btn btnlink btn-primary btn-sm d-flex"
                       href="{{ path('picture_new', {id: trick.id, statut: 'main'}) }}"><i
                                class="far fa-edit"></i></a>
                {% else %}
                    {% for picture in pictures %}
                        {% if picture.statut == 'main' %}
                            <a class="btn btnlink btn-primary btn-sm d-flex"
                               href="{{ path('picture_edit', {id: picture.id, statut: picture.statut}) }}"><i
                                        class="far fa-edit"></i></a>

                            <a class="btn btnlink btn-danger btn-sm d-flex"
                               href="{{ path('picture_delete', {id: picture.id, statut: picture.statut}) }}">
                                <i
                                        class="fas fa-trash"></i></a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <div class=" text-center py-5 px-4 my-5">
            <h2 class="card-title text-white h1-responsive pt-3 mb-5 font-bold"><strong>{{ trick.name }}</strong>
            </h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            {% for picture in pictures %}
                {% if picture.statut == 'normal' %}
                    <div class="card border-0 col-md-2 col-sm-12 mt-4 mb-4 ml-2">
                        <img class="card-img-top"
                             src="{{ asset('/images/tricks/' ~ picture.name) | imagine_filter('my_thumb') }}"
                             alt="Trick picture">
                        <div class="card-body">
                            <a class="btn btnlink btn-primary btn-sm float-right"
                               href="{{ path('picture_edit', {id: picture.id, statut: picture.statut}) }}"><i
                                        class="far fa-edit"></i> </a>
                            <a class="btn btnlink btn-danger btn-sm float-right"
                               href="{{ path('picture_delete', {id: picture.id, statut: picture.statut}) }}">
                                <i
                                        class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for video in videos %}
                <div class="card border-0 col-md-2 col-sm-12 mt-4 mb-4 ml-2">
                    <iframe class="card-img-top h-100 js-media border-0"
                            src="{{ video.url }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <a class="btn btnlink btn-primary btn-sm float-right"
                           href="{{ path('video_edit', {id: video.id}) }}"><i
                                    class="far fa-edit"></i> </a>
                        <a class="btn btnlink btn-danger btn-sm float-right"
                           href="{{ path('video_delete', {id: video.id, statut: 'normal'}) }}">
                            <i
                                    class="fas fa-trash"></i></a>
                    </div>
                </div>
            {% endfor %}
            <div class="card border-0 col-md-2 col-sm-12 mt-4 mb-4 ml-2">
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>
    <div class="row col-12 justify-content-around">
        <a class="btn btnlink btn-primary btn-sm"
           href="{{ path('picture_new', {id: trick.id, statut: 'normal'}) }}">
            <i
                    class="fas fa-plus"></i>Add picture</a>
        <a class="btn btnlink btn-danger btn-sm "
           href="{{ path('video_new', {id: trick.id}) }}">
            <i
                    class="fas fa-plus"></i>Add video</a>
    </div>

    <div class="container">

        <h1 class="col-12">Edit</h1>
        {{ form_start(trickForm) }}
        <div>{{ form_row(trickForm.name) }}</div>
        {{ form_row(trickForm.content) }}
        <div class="col-4">{{ form_row(trickForm.category) }}</div>
        <div class="col-6">
            <a class="btn btn-sm btn-danger"
               href="{{ path('trick_delete', {id: trick.id}) }}">
                Delete</a>
            <div class="btn btn-sm">{{ form_row(trickForm.submit) }}</div>
            {{ form_end(trickForm) }}
        </div>
    </div>

{% endblock %}
